doctype html
html
  head
    meta(charset='utf-8')
    link(rel="Shortcut Icon",href="http://htmljs.b0.upaiyun.com/css/music/story-icon2.png?2")
    |<link rel="apple-touch-icon" href="http://htmljs.b0.upaiyun.com/css/music/story-icon2.png?2" />
    link(rel="stylesheet",href="#{assets_head}/css/bootstrap.css?dddddddd",type="text/css")
    link(href="#{assets_head}/css/music.css?1221",rel="stylesheet",type="text/css")
    title 二十一点·睡前故事 第#{music.index}期《#{music.title}》
    |<meta name="Description" content="二十一点·睡前故事 第#{music.index}期《#{music.title}》" />
    //- |<meta name="apple-itunes-app" content="app-id=998079819" />
    style.
      #app-header{height:80px;background:#eee;display:block;color:#333;}
      .app-icon{margin:10px;margin-left:20px;width:60px;float:left;}
      .app-desc{margin-top:15px;float:left;font-size:16px;}
      .app-use{font-size:12px;margin-top:8px;}
      .app-download{position:absolute;right:10px;top:30px;height:25px;line-height:25px;
        background: #0088CC;
        background-image: -webkit-linear-gradient(top, #00a3f5 0%, #0088CC 100%);
        background-image: linear-gradient(to bottom, #00a3f5 0%, #0088CC 100%);
        color:#fff;
        padding:0 10px;
        font-size:12px;
        border-radius:5px;
      }
      .hidden{display:none !important;}
      .app-open{position:fixed;width:100%;top:0;left:0;}
      .cccc{background:#fff;opacity:0.7;position:fixed;width:100%;top:0;left:0;height:10000px;}
      .app-open img{position:fixed;width:100%;top:0;left:0;}
    |<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  body#music-new

    img.backblur(src="#{music.cover}")
    .backcover
    a#app-header(href="https://itunes.apple.com/cn/app/er-shi-yi-dian-shui-qian-gu-shi/id998079819")
      img.app-icon(src="http://htmljs.b0.upaiyun.com/uploads/1462880795177-de769cad389068d868c4712c9b3172c5.png")
      .app-desc
        .app-title 二十一点睡前故事
        .app-use 卓老师&芋头 夫妇联合开发出品
      .app-download 下载APP
    .app-open.hidden
      .cccc
      img(src="http://htmljs.b0.upaiyun.com/uploads/1462880955849-78bb034a62978df4b828249055816c02.png")
    #header
      .left
        a.home(href="/music/") 首页
        //.share 分享
      if locals.next
        .right
            a.next(href="/music/#{next.id}") 上一期：#{next.title}
    #content
      article.am-article
        .time #{moment(music.createdAt).format("MM月DD日 dddd")}
        .title #{music.index}期 #{music.title}
        img.cover(src="#{music.cover}")
        .desc !{music.desc}
        .controls
          .play.playing
          .process
            .times.clearfix
              .left#left_time 00:00
              .right#right_time 00:00
            .line
              .line-inner(style="width:0%;")
                .line-circle
        .infos
          .visitcount 浏览：#{music.visit_count}
        audio#audio.hidden(src="#{music.audio}")
        .other 二十一点 微信公众号，是由卓老师维护的一个面向各位小朋友和大朋友的深夜故事公众号。<br/><br/>卓老师每天晚上都会讲一个非常可爱的故事，然后录音发布在公众号上。<br/><br/>记住哦~每天晚上九点发布<br/>赶紧关注卓老师的公众号：二十一点<br/><br/>或者扫描二维码：<br/><img src="http://ww3.sinaimg.cn/bmiddle/6663ae3cgw1enwoooq45fj2076076dga.jpg"/><br/>如果您觉得卓老师讲的不错，欢迎多多分享给自己的朋友哦。谢谢啦~\(≧▽≦)/~
    script(src='#{assets_head}/js/jquery.js')
    script.
      var isWeixin = (/MicroMessenger/i).test(window.navigator.userAgent);
      $("#app-header").on("click",function(e){
        e.preventDefault();
        if(isWeixin){
          $(".app-open").removeClass("hidden")
        }else{
          window.location.href=$(this).attr("href");
        }
        })
      $(".app-open").on("click",function(){
        $(".app-open").addClass("hidden")
        })
      var audio = document.getElementById("audio");
      var url = "#{music.audio}";
      audio.src = url;
      var isPlay = false;
      $(".play").on("click",function(){
        if(isPlay){
            audio.pause();
            isPlay = false;
            $(".play").removeClass("pause")
        }else{
            audio.play();
            isPlay = true;
            $(".play").addClass("pause")
        }

      })

      var timeString = function(time){
      time = parseInt(time)
         var minute = 0;
         var sec = 0;
         sec = time%60
         if(sec<10){
            sec="0"+sec;
         }
         minute = Math.floor(time/60)
         if(minute<10){
            minute="0"+minute;
         }
         return minute+":"+sec
      }
      var handler = function() {
          $("#left_time").html(timeString(this.currentTime))
          $("#right_time").html(timeString(this.duration.toFixed(0)))
          $(".line-inner").css({
            width:this.currentTime*100/this.duration+"%"
          })
      };
      audio.addEventListener('timeupdate', handler, false);
            audio.addEventListener('durationchange', function(){
            $("#right_time").html(timeString(this.duration.toFixed(0)))
            }, false);
